html,body{

margin:0;
padding:0;
height:100%;
overflow:hidden;

}


#map-container{

position:relative;
width:100%;
height:100vh;

}


#erlc-map{

position:absolute;

width:100%;
height:100%;

border:none;

}


#marker-layer{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

pointer-events:none;

}


.unit-marker{

position:absolute;

width:14px;
height:14px;

background:#00ff55;

border-radius:50%;

box-shadow:
0 0 10px #00ff55;

pointer-events:auto;

cursor:pointer;

}


.popup{

background:black;

color:white;

padding:10px;

border-radius:8px;

position:absolute;

display:none;

}
